[Desktop Entry]
Exec=java -jar /opt/E-IMZO/E-IMZO.jar
Version=1.0
Type=Application
X-GNOME-Autostart-enabled=true
StartupNotify=false
Name=E-IMZO
Comment=Avtomatik yuklash uchun
